header,article,section,footer,nav,aside,figure,figcaption{
    display: block;
}
*{
    margin:0;
    padding:0;
    letter-spacing: 1px;
    font-family:"微软雅黑";
}
img{
    display: inline-block;
    border:none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2{
    font-weight:normal;
}


/*header*/
header{
    width:100%;
    background: #495A5B;
}
.header{
    width:1160px;
    margin:0 auto;
    overflow: hidden;
}
.header>img{
    margin:10px 15px 10px 0;
    float: left;
}
.h_nav{
    float: left;
}
.h_nav>ul{
    display: inline-block;
}
.h_nav>ul>li{
    display: inline-block;
    width:86px;
    line-height: 60px;
    text-align: center;
}
.h_nav>ul>li>a,.h_log>ul>li>a{
    font-size:14px;
    color: #9F9F9F;
}
.h_nav>ul>li>a:hover,.h_log>ul>li>a:hover{
    color: #fff;
}
.h_log{
    float: right;
    height:60px;
}
.h_log>ul>li{
    display: inline-block;
    width:73px;
    line-height: 60px;
    text-align: center;
}


/*content*/
.c{
    width:1110px;
    margin:0 auto;
}
.c1{
    margin-top:20px;
}
.c1>ul{
    border-bottom:1px solid #DDDDDD;
}
.c1>ul>li{
    display: inline-block;
    height:40px;
    line-height:40px;
}
.c1>ul>li>h1{
    font-size:15px;
    display: inline-block;
    width:105px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.c1>ul>li>h1.c1_select{
    border:1px solid #DDDDDD;
    border-bottom:none;
    height:41px;
    background: #fff;
}
.c1>ul>li>h1.c1_noselect{
    margin-left:-10px;
    color: #337AB7;
}
.c1>ul>li>h1.c1_noselect:hover{
    background: #EEEEEE;
}
.c2{
    margin:20px 0;
}
.c2>ul{
    overflow: hidden;
    margin-left:-26px;
}
.c2>ul>li{
    float: left;
    width:255px;
    margin-left:26px;
    margin-top:20px;
    border:1px solid #DDDDDD;
    border-radius:5px;
}
.c2>ul>li>figure{
    overflow: hidden;
    margin:5px;
}
.c2>ul>li>figure>img{
    float: left;
    padding:5px;
    border-right:1px solid #DDDDDD;
}
.c2>ul>li>figure>figcaption{
    float: left;
    line-height:76px;
    margin-left:10px;
    font-size:20px;
    font-weight:800;
}

/*footer*/
footer{
    width:100%;
    background: #343C3F;
}
.f{
    width: 1300px;
    margin:0 auto;
}
.f_top{
    padding:60px;
    border-bottom:1px solid #999999;
    overflow: hidden;
}
.f_top1{
    margin-left:85px;
    width:345px;
    float: left;
}
.f_top1>p{
    margin:40px 0;
    font-size:14px;
    line-height:25px;
    color: #ccc;
    text-indent:2em;
}
.f_top2{
    float: left;
    margin-left:120px;
}
.f_top2>p,.f_top3>p,.f_top4>p{
    color: #999999;
    font-size:13px;
}
.f_top2>ul>li,.f_top3>ul>li{
    margin-top:15px;
}
.f_top2>ul>li>a,.f_top3>ul>li>a{
    color: #ccc;
    font-size:13px;
}
.f_top2>ul>li>a:hover,.f_top3>ul>li>a:hover{
    color: #37D2FE;
}
.f_top3{
    float: left;
    margin-left:95px;
}
.f_top4{
    float: left;
    margin-left:140px;
}
.f_top4>img{
    margin-top:15px;
}
.f_bottom{
    height:115px;
    color: #ccc;
    text-align: center;
    line-height:115px;
    font-size:13px;
}